:root {
    --header-height: 70px;
    --text-font: 1.4rem;


    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

html {
    /* HACK - khi do 1rem = 10px nham` de su dung,
    trong nay sb don vi rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.center-flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.mid-height-flex {
    display: flex;
    align-items: center;
}