
/* =======Begin: Header ============ */
.app__header {
    border-bottom: 1px solid #F2F2F2;
    padding: 4px 0;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header__logo-link {
    height: var(--header-height);
    width: var(--header-height);
    background-color: #f5f5f5;
    border-radius: 50%;
}

.header__logo-link:hover {
    fill: var(--primary-color);
}

.header__with-search {
    margin-left: 16px;
    height: 47px;
    /* display: none; */
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    font-size: 1.4rem;
}

.header__search-input {
    height: 100%;
    flex: 1;
    padding: 4px 16px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.header__search-input:focus-within {
    box-shadow: 1px 0px 2px #dbdbdb;
    border-color: #dbdbdb;
}

.header__search-input-icon {
    color: #919191;
}

.header__search-input-box {
    width: 100%;
    min-width: 80px;
    padding-left: 12px;
    border: none;
    outline: none;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
}
/* Google Chrome */
.header__search-input-box::-webkit-input-placeholder { 
    color: var( --text-color);
}

/* internet explorer */
.header__search-input-box:-ms-input-placeholder {
    color: var(--black-color);
}

/* Mozilla Fire */
.header__search-input-box::-moz-placeholder {
    color: var(--black-color);
}

/* Opera */
.header__search-input-box:-o-input-placeholder {
    color: var(--black-color);
}

.header__date {
    padding: 4px 16px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    cursor: pointer;
    display: none;
}

.header__date-icon {
    margin-right: 12px;
}

.header__num-user {
    padding: 0 16px;
    cursor: pointer;
    display: none;
}

.header__num-user-icon {
    margin-right: 8px;
}

.header__search-button {
    width: 56px;
    height: 36px;
    border-radius: 5px;
    background-color: #555555;
    margin: 0 8px;
    cursor: pointer;
}

.header__search-button > i {
    color: var(--white-color);
}
/* list info in pc */
.header__info-list-pc {
    display: none;
    min-width: 380px;
    margin-left: 48px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.header__info-item-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__info-item-link:hover {
    color: var(--primary-color);
}

.header__infor-tick {
    position: relative;
}

.header__infor-tick::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #FB9236;
    width: 5px;
    height: 5px;
    top: 0;
    right: -8px;
    border-radius: 50%;
}

.header__info-select {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    position: relative;
    padding: 8px 12px 8px 8px;
    background-color: #F6F6F6;
    border-radius: 18px;
    max-width: 88px;
}

.header__info-select-img {
    width: 20px;
    margin-right: 4px;
}

.header__info-select::after {
    content: "";
    border-style: solid;
    border-width: 5px;
    border-color: var(--black-color) transparent transparent transparent;
    position: relative;
    top: 3px;
    right: -4px;
}

/* list info in mobile - tablet */
.header__info-wrapper-mobile {
    margin: auto;
    margin-left: 24px;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.header__info-bars i {
    font-size: 28px;
    padding: 0 8px;
}

.header__info-list-mobile {
    display: none;
}

.header__info-list-mobile.show {
    position: absolute;
    list-style: none;
    display: flex;
    width: 150px;
    padding: 16px 32px;
    flex-direction: column;
    background-color: #fbfbfb;
    right: -6px;
    top: calc(100% + 10px);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #ccc;
    border-radius: 5px;
}

.header__info-list-mobile .header__info-item {
    margin: 12px 0;
}

.header__info-list-mobile::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color:#fbfbfb;
    position: absolute;
    top: -10px;
    right: 15px;
    transform: rotate(45deg);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ddd;
}
/* =======End: Header ============ */

/*=============Begin: Slider=========== */
.app-wrapper {
    margin-top: calc(44px + var(--header-height));
}

.app__slider .MS-content {
  overflow: hidden;
  white-space: nowrap;
}

.app__slider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-right: none;
  width: 100%;
}

.app__slider .MS-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: 30px;
}

.app__slider .MS-controls .app__slider-sw {
    border: none;
    outline: 0;
    border-radius: 50%;
    width: 8px;
    height: 10px;
    background: rgb(211, 195, 195);
    box-shadow: none;
}

.app__slider .MS-controls .app__slider-sw:hover {
    background-color: rgb(129, 122, 122);
    box-shadow: none;
}

.app__slider .MS-controls .active {
    background-color: rgb(129, 122, 122);
    transition: all 0.5s ease-in;
    box-shadow: none;
}

.app__slider-img {
    width: 100%;
    border-radius: 20px;
}

@keyframes changeColor {
    from {
        opacity: 0;
    } to {
        opacity: 0;
    }
}

/*=============End: Slider=========== */

/*========= Begin welcome=========== */
.content-welcome {
    display: flex;
    flex-direction: column;
}

.content-welcome__heading {
    font-size: 2.8rem;
    margin: 0 0 24px;
}

.content-welcome__login {
    margin-top: 6px;
}

.welcome__login-link {
    color: var(--text-color);
}

.welcome__login-link:hover {
    color: #F76B39;
}
/*========= Begin welcome=========== */

/* ===========Begin: CSs cho list hien thi theo crousel - kiểu băng chuyền================ */
/* MS-content */
.wrapper-list {
    position: relative;
}

.list-item {
    position: relative;;
    background-size: cover;
    padding: 0 8px;
}

.wrapper-list .MS-content {
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
}
  
.wrapper-list .MS-content .item {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border-right: none;
}

/* nut control */
.MS-controls .MS-left, 
.MS-controls .MS-right {
    --button-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--white-color);
    border: none;
    box-shadow: 0 0 2px var(--black-color);
}

.MS-controls .MS-left:hover:enabled, 
.MS-controls .MS-right:hover:enabled {
    box-shadow: 0 0 2px #f65e39;
    color: #f65e39;
}

.MS-controls .MS-left {
    left: -15px;
}

.MS-controls .MS-right {
    right: -15px;
}

.MS-controls button:disabled {
    opacity: 0.7;
}

/* ===========End: CSs cho list hien thi theo crousel - kiểu băng chuyền================ */

/* ===========Begin: Place================ */
/* dia diem dac biet */
.content-place__hotel {
    font-size: 1.8rem;
}

.wrapper-list img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.content-place__item-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 15%;
    bottom: 10%;
    color: var(--white-color);
}

.content-place__list .MS-content .list-item {
    width: calc(100%/var(--number-item-place-list)); /*khi muon hien thi bao nhieu item*/
    height: 20vw;
    max-height: 282px;
    min-height: 240px;
}

/* ===========Begin: Place================ */

/* ==================Begin: Content-preferential ==============*/
/* Ưu đãi đặc biệt */
.content-preferential__info {
    display: flex;
    justify-content: space-between;
}

.content-preferential__bonus {
    font-size: var(--text-font);
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 16px;
}

.content-preferential__list {
    display: flex;
}

.content-preferential__item {
    display: block;
    width: 33.33%;
    padding: 8px 8px;
    border-radius: 5px;
}
/* ==================End:Content-preferential ==============*/


/* =============Begin: Goi y tu luxstay===========*/
.content-recommend__luxstay .list-item {
    width: calc(100%/var(--number-item-recommend-luxstay)); /*khi muon hien thi bao nhieu item*/
}
.content-recommend__luxstay-link {
    text-decoration: none;
    display: block;
    width: 100%;
}

.content-recommend__luxstay-img {
    display: block;
    border-radius: 5px;
    width: 100%;
    padding-top: 67.3%;
    background-size: cover;
    background-repeat: no-repeat;
}


.content-recommend__luxstay-heading {
    text-transform: uppercase;
    color: #696969;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 12px 0 8px 0;
}

.content-recommend__luxstay-descr {
    display: block;
    width: 100%;
    color: #696969;
    text-decoration: none;
    line-height: 2.4rem;
    font-size: var(--text-font);
    white-space: normal;
}

.content-recommend__luxstay-descr:hover {
    color: var(--primary-color);
}

.content-recommend__luxstay .MS-controls .MS-left, 
.content-recommend__luxstay .MS-controls .MS-right {
    top: 30%;
}
/* =============Begin: Goi y tu luxstay===========*/
/* ===========Begin: goi y kham pha */
.content-recommend__visit .MS-content .list-item,
.content-guide-user__list .MS-content .list-item {
    width: calc(100%/var(--number-item-recommend-visit));
    height: 15vw;
    max-height: 208px;
    min-height: 180px;
}

.content-recommend__visit-info {
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding: 4px 16px;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}

.content-recommend__visit-info:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.content-recommend__visit-descr {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 5%;
    white-space: normal;
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    text-shadow: 0 0 2px #555;
}
/* ===========End: goi y kham pha */
/*======== Start: Huong dan su dung ===========*/
.content-guide-user__link {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    border-radius: 5px;
}
/*======== End: Huong dan su dung ===========*/

/*======== Start: Luxstay store - appstore ===========*/
.luxstay-store-logo {
    width: 340px;
    margin-bottom: 18px;
}

.luxstay-store-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.luxstay-store-qr {
    width: 80%;
    border: 1px solid #ccc;
    padding: 12px;
}

.luxstay-store-qr-img {
    width: 100%;
}

.luxstay-store-app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.luxstay-store-item {
    display: flex;
    flex-wrap: wrap;
}

.luxstay-store-item img {
    width: 50%;
    padding: 8px;
    padding-bottom: 18px;
}

/*======== End: Luxstay store - appstore ===========*/

.luxstay-contact-logo {
    width: 80%;
}


.luxstay-contact-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.luxstay-contact-icon {
   width:40px;
   height:40px; 
   border-radius: 50%;
   background-color: #F7F7F7;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 12px;
}

.luxstay-contact-icon i {
    font-size: 30px;
    color: #4E4E4E;
}

.luxstay-contact-link {
    display: flex;
    flex-direction: column;
}

.luxstay-contact-link a {
    padding: 4px 0;
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
}

.luxstay-contact-link a:hover {
    color: var(--primary-color);
}

.container__luxstay-list {
    display: flex;
    flex-direction: column;
}

.container__luxstay-list a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 5px 0;
}

.container__luxstay-list a:hover {
    color: var(--primary-color);
}

.luxstay-certigication {
    display: flex;

}

.luxstay-certigication a {
    display: block;
    width: 33%;
    margin-right: 8px;
}

.luxstay-certigication a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.luxstay-social {
    text-decoration: none;
    font-size: 2.8rem;
    margin-right: 12px;
}
.luxstay-social i {
    color: #484848;
}

/* =================End: Container============= */

/* =================Start: footer============= */
.app__footer {
    padding: 24px 50px;
    width: 100%;
    font-size: 1.4rem;
    color: #999;
    text-align: center;
    border-top: solid 1px #F2F2F2;
}

/* =================End: footer============= */
